APP_ORIGIN=https://...
APP_POSTGRES_CERTIFICATE="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
APP_POSTGRES_URL=postgres://...
AUTH_TRUSTED_ORIGINS=https://...
BETTER_AUTH_SECRET=...
BETTER_AUTH_URL=https://...
CATALOG_POSTGRES_CERTIFICATE="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
NEXT_PUBLIC_TURNSTILE_SITE_KEY=...
NEXT_PUBLIC_VAPID_PUBLIC_KEY=...
OTEL_EXPORTER_OTLP_ENDPOINT=https://otlp-gateway-<zone>.grafana.net/otlp
OTEL_EXPORTER_OTLP_HEADERS=Authorization=Basic <base64(instanceID:token)>
REDIS_URL=rediss://default:...@...
SECRET_ENCRYPTION_KEY=...
