APP_ORIGIN=https://...
APP_POSTGRES_CERTIFICATE="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
APP_POSTGRES_URL=postgres://...
BUILD_OUTPUT=standalone
CATALOG_POSTGRES_CERTIFICATE="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
CATALOG_POSTGRES_URL=postgres://...
CI=true
COMMIT_SHA=123456
NEXT_PUBLIC_APP_ENV=prod
NEXT_PUBLIC_APP_ORIGIN=https://...
NEXT_PUBLIC_COMMIT_SHA=...
NEXT_PUBLIC_FARO_URL=https://faro-collector-prod-<region>.grafana.net/collect/<app-key>
NEXT_PUBLIC_GTM_ID=...
NEXT_PUBLIC_IMAGE_PROXY_ORIGIN=https://...
NEXT_PUBLIC_IOS_TESTFLIGHT_URL=https://...
NEXT_PUBLIC_PROXY_MANGA_ORIGIN=https://...
NEXT_PUBLIC_PROXY_SEARCH_ORIGIN=https://...
NEXT_PUBLIC_SENTRY_DSN=https://...
NEXT_PUBLIC_TURNSTILE_SITE_KEY=...
NEXT_PUBLIC_VAPID_PUBLIC_KEY=...
SENTRY_AUTH_TOKEN=...
