APP_ORIGIN=http://localhost:3000
APP_POSTGRES_URL=postgres://test_user:test_password@localhost:5434/app_db
CATALOG_POSTGRES_URL=postgres://test_user:test_password@localhost:5435/catalog_db
NEXT_PUBLIC_APP_ENV=local
NEXT_PUBLIC_APP_ORIGIN=http://localhost:3000
NEXT_PUBLIC_CHAT_WS_ORIGIN=ws://localhost:3003
NEXT_PUBLIC_FARO_URL=
NEXT_PUBLIC_IMAGE_PROXY_ORIGIN=http://localhost:3002
NEXT_PUBLIC_PROXY_MANGA_ORIGIN=http://localhost:3001
NEXT_PUBLIC_PROXY_SEARCH_ORIGIN=http://localhost:3001
REDIS_URL=redis://localhost:6380
