APP_ORIGIN=http://localhost:3000
APP_POSTGRES_CERTIFICATE="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
APP_POSTGRES_URL=postgres://...
CATALOG_POSTGRES_CERTIFICATE="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
CATALOG_POSTGRES_URL=postgres://...
JWT_SECRET_ACCESS_TOKEN=...
JWT_SECRET_REFRESH_TOKEN=...
JWT_SECRET_TRUSTED_DEVICE=...
NEXT_PUBLIC_APP_ENV=dev
NEXT_PUBLIC_APP_ORIGIN=http://localhost:3000
NEXT_PUBLIC_PROXY_MANGA_ORIGIN=http://localhost:3001
NEXT_PUBLIC_PROXY_SEARCH_ORIGIN=http://localhost:3001
NEXT_PUBLIC_IMAGE_PROXY_ORIGIN=http://localhost:3002
NEXT_PUBLIC_TURNSTILE_SITE_KEY=...
NEXT_PUBLIC_VAPID_PUBLIC_KEY=...
REDIS_URL=rediss://default:...@...
TOTP_ENCRYPTION_KEY=...
