APP_ORIGIN=https://...
APP_POSTGRES_CERTIFICATE="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
APP_POSTGRES_URL=postgres://...
CATALOG_POSTGRES_CERTIFICATE="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
CATALOG_POSTGRES_URL=postgres://...
JWT_SECRET_ACCESS_TOKEN=...
JWT_SECRET_REFRESH_TOKEN=...
JWT_SECRET_TRUSTED_DEVICE=...
OTEL_EXPORTER_OTLP_ENDPOINT=https://otlp-gateway-<zone>.grafana.net/otlp
OTEL_EXPORTER_OTLP_HEADERS=Authorization=Basic <base64(instanceID:token)>
TOTP_ENCRYPTION_KEY=...
