ADSTERRA_API_KEY=...
APP_ENV=prod
APP_ORIGIN=https://...
APP_POSTGRES_CERTIFICATE="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
APP_POSTGRES_URL=postgres://...
AUTH_TRUSTED_ORIGINS=https://...
BBATON_CLIENT_ID=...
BBATON_CLIENT_SECRET=...
BETTER_AUTH_SECRET=...
BETTER_AUTH_URL=https://...
CATALOG_POSTGRES_CERTIFICATE="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
CATALOG_POSTGRES_URL=postgres://...
GA_PROPERTY_ID=...
GOOGLE_APPLICATION_CREDENTIALS_JSON=
GOOGLE_CLIENT_ID=...
GOOGLE_CLIENT_SECRET=...
KAKAO_CLIENT_ID=...
KAKAO_CLIENT_SECRET=...
OTEL_EXPORTER_OTLP_ENDPOINT=https://otlp-gateway-<zone>.grafana.net/otlp
OTEL_EXPORTER_OTLP_HEADERS=Authorization=Basic <base64(instanceID:token)>
PASSKEY_ORIGIN=https://...
PASSKEY_RP_ID=...
REDIS_URL=rediss://default:...@...
SECRET_ENCRYPTION_KEY=...
TURNSTILE_SECRET_KEY=...
VAPID_PRIVATE_KEY=...
VAPID_PUBLIC_KEY=...
