ADSTERRA_API_KEY=...
APP_ORIGIN=http://localhost:3000
APP_POSTGRES_CERTIFICATE="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
APP_POSTGRES_URL=postgres://...
AUTH_TRUSTED_ORIGINS=https://...
BBATON_CLIENT_ID=...
BBATON_CLIENT_SECRET=...
BETTER_AUTH_SECRET=...
BETTER_AUTH_URL=https://...
CATALOG_POSTGRES_CERTIFICATE="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
GA_PROPERTY_ID=...
PASSKEY_ORIGIN=https://...
PASSKEY_RP_ID=...
REDIS_URL=rediss://default:...@...
SECRET_ENCRYPTION_KEY=...
TURNSTILE_SECRET_KEY=...
VAPID_PRIVATE_KEY=...
VAPID_PUBLIC_KEY=...
