ADSTERRA_API_KEY=...
APP_ORIGIN=http://localhost:3000
APP_POSTGRES_CERTIFICATE="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
APP_POSTGRES_URL=postgres://...
BBATON_CLIENT_ID=...
BBATON_CLIENT_SECRET=...
CATALOG_POSTGRES_CERTIFICATE="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
CATALOG_POSTGRES_URL=postgres://...
GA_PROPERTY_ID=...
JWT_SECRET_ACCESS_TOKEN=...
JWT_SECRET_REFRESH_TOKEN=...
JWT_SECRET_TRUSTED_DEVICE=...
REDIS_URL=rediss://default:...@...
TOTP_ENCRYPTION_KEY=...
TURNSTILE_SECRET_KEY=...
VAPID_PRIVATE_KEY=...
VAPID_PUBLIC_KEY=...
